<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header">Meet Management</div>
      <div class="card-body">
        <%= turbo_frame_tag :create_meet do %>
          <%= render :partial => 'meet_create' %>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Your Meets</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <%= turbo_frame_tag :dashboard_meets do %>
            <% current_user.meets.order(meet_date: :desc).each do |meet| %>
              <%= render :partial => 'meet', locals: { meet: meet } %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
