<li class="list-group-item" style="font-size: x-large">
  <%= link_to meet.name, live_meet_path(meet) %>
  <% if meet.stadium %>
    at <%= link_to meet.stadium.name, stadium_view_path(meet.stadium) %>
  <% end %>
  on <%= local_time(meet.meet_date, '%B %e, %Y %l:%M%P %Z') %></li>
</li>
