<% content_for :title do %>
  Contact Information | TracTrak
<% end %>
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <h1 class="display-5 fw-bold text-white">Contact <span class="tt-green">TracTrak</span></h1>
</div>

<div class="card">
  <div class="card-header"><i class="fas fa-info-circle"></i> Contact</div>
  <div class="card-body">
    <p>Email: <a href="mailto:michael@tractrak.com">michael@tractrak.com</a></p>
    <p><a href="https://twitter.com/TracTraker">Twitter</a></p>
  </div>
</div>