<% content_for :title do %>
  Contact Information | TracTrak
<% end %>
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <h1 class="display-5 fw-bold text-white">Contact <span class="tt tt-green">TracTrak</span></h1>
</div>

<div class="card mt-2">
  <div class="card-header"><img src="https://icongr.am/fontawesome/info-circle.svg" alt="Info"/> Contact</div>
  <div class="card-body">
    <p>Email: <a href="mailto:michael@tractrak.com">michael@tractrak.com</a></p>
  </div>
</div>

<div class="card mt-2">
  <div class="card-header">Social</div>
  <div class="card-body">
    <p><a href="https://www.facebook.com/tractrak"><img src="https://icongr.am/fontawesome/facebook-square.svg" alt="Facebook" /> Facebook</a></p>
  </div>
</div>