<% content_for :title do %>
  Requirements | TracTrak
<% end %>
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <h1 class="display-5 fw-bold text-white"><span class="tt tt-green">TracTrak</span> Requirements</h1>
  <p class="fs-5 mb-4">What Meet Operators Need</p>
</div>

<div class="card">
  <div class="card-header">
    <i class="fa fa-list-ul"></i> Requirements to use <span class="tt tt-green" style="color:#39ff14">TracTrak</span> at a meet:
  </div>
  <div class="card-body">
    <ul>
      <li>Internet connection (at race location)</li>
      <li>Able to download and run an .exe file</li>
      <li><a href="https://www.finishlynx.com">FinishLynx</a> &mdash; or a timing system that can output
        <strong>.LIF</strong> files.
      </li>
    </ul>
  </div>
</div>