<% content_for :title do %>
  Requirements | TracTrak
<% end %>

<div class="jumbotron" style="background-color:#565656; color:white">
  <div class="container-fluid">
    <h1><span class="tt-green" style="color:#39ff14">TracTrak</span> Requirements</h1>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <i class="fa fa-list-ul"></i> Requirements to use <span class="tt-green" style="color:#39ff14">TracTrak</span> at a meet:
  </div>
  <div class="card-body">
    <ul>
      <li>Internet connection (at race location)</li>
      <li>Able to download and run an .exe file</li>
      <li><a href="https://www.finishlynx.com">FinishLynx</a> &mdash; or a timing system that can output
        <strong>.LIF</strong> files.
      </li>
    </ul>
  </div>
</div>