<% content_for :title do %>
  Requirements | TracTrak
<% end %>
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <h1 class="display-5 fw-bold text-white"><span class="tt tt-green">TracTrak</span> Requirements</h1>
  <p class="fs-5 mb-4">What Meet Operators Need</p>
</div>

<div class="card mt-2">
  <div class="card-header">
    <img src="https://icongr.am/fontawesome/list-ul.svg" alt="list"/> Requirements to use <span class="tt tt-green">TracTrak</span> at a meet:
  </div>
  <div class="card-body">
    <ul>
      <li>Internet connection (at race location)</li>
      <li>Able to download and run an .exe file</li>
      <li><a href="https://www.finishlynx.com">FinishLynx</a> &mdash; or a timing system that can output
        <strong>.LIF</strong> files.
      </li>
    </ul>
    <p>No FinishLynx Network Com Plugin (NCP) needed! A one-time $800 savings!</p>
    <p>No MeetManager Plugin or License needed! A one-time $500 savings!</p>
    <p>We just saved you up to $800!</p>
    <p>Currently, the site is free. You can <a href="https://www.buymeacoffee.com/TracTrak">support us</a> if you think the site has value. Suggested donation is $5/meet. Seriously.</p>
    <p>If you're a large meet that may have more traffic (crowds 1000+), shoot us an email and we can chat.</p>
  </div>
</div>