/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 */

body {
  padding-top: 1.4rem;
}

.tt-green {
  color: #39ff14
}

.tt-background {
  background-color: #565656;
}

.highlight {
  background-color: yellow;
}
